 
<div class="flexSign">
    <img src="assets/image/papa.svg" id="papa" width= "2200px" height = "600px"/>
    <div class="container">
        <p class = "h1">Welcome back!</p>
      <form >
          
      <input type="text" placeholder="Enter your Email" id="email" required ><br>
  
      
      <input type="password" placeholder="Enter Password" id="psw" required><br>

      <input class="registerbtn"  type="submit" value="Sign in">
      <br>

     <p class="h2">Not yet in the team? <a routerLink = "/sign-up">Sign up</a></p>   
     
           </form> 
          
      </div>
    


</div>
    
    
