
<div class="flexSign">
    <img src="assets/image/mama.svg" id="mama" width= "2200px" height = "600px"/>
    <div class="container">
        <p class = "h1">Join the winning team</p>
      <form >

          <input type="text" placeholder="Enter your Full Name" id="name" required ><br>
          
      <input type="text" placeholder="Enter your Email" id="email" required ><br>
  
      
      <input type="password" placeholder="Enter Password" id="psw" required><br>
  
      
      <input type="password" placeholder="Repeat Password" id="psw-repeat" required><br>

      <input class="registerbtn"  type="submit" value="Register">
      <br>

     <p class="h2">Already have an account? <a routerLink = "/sign-in">Sign in</a></p>   
     
           </form> 
          
      </div>
    


</div>
    
    