.container{
margin-top: 40px;
margin-right: 50px;

}


.flexSign{

    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    
  }
  
  form input:focus {
    background-color:#e67e30;
  }
  .h1 {
    font-size: 28px;
    color: #e67e30;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.h2 {
    font-size: 15px;
    color: #f3ede8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: #e67e30;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}